# VSCode
.vscode/

# Expo
.expo/
dist/
lib/
!packages/docs/src/lib/
!packages/docs/src/lib/**
web-build/
expo-env.d.ts

# iOS
**/*/ios

# Android
**/*/android

#Biome
.biome/

#Bun
node_modules/

# OS-specific
.DS_Store
Thumbs.db"

todo
*.todo

# Lerna
lerna-debug.log*

# NPM
.npmrc

# Misc
CONVENTIONS.md

.idea
.tmp-npm-cache
